.grid1x5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 100px;
}
.item {
  display: block;
}

.item img {
  display: block;
  height: 150px;
  width: 50%;
  margin-right: 20px;
}

.flexdiv {
  display: flex;
}
.textright {
  margin: 0px !important;
  padding: 0px !important;
  line-height: 1.5;
}

.læsmere {
  text-decoration: none;
  color: #ff8400;
}
