.Søg {
  text-align: center;
  text-align-last: center;
  padding-top: 283px;
  padding-bottom: 200px;
}
.jwfbbd {
  align-self: center;
  width: 500px;
}

.dePyzG {
  width: 100vw;
  text-align: center;
}

.zNoeh {
  width: 500px;
  align-self: center;
}
